* {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif !important;
    font-size: 16px;
}

.font-secondary {    
    font-family: "Titillium Web", sans-serif !important;
}
.font-special {    
    font-family: "Marcellus", sans-serif !important;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
    @apply !bg-black-400 !text-white-100;
}

a {
    
    @apply !text-white-100 hover:!no-underline focus:!no-underline active:!no-underline;
}

body {
    position: relative;
}

.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}


nav a {
    @apply mx-3 text-[18px] hover:opacity-70;
}


nav #nav-resume,
.btn-special {
    @apply text-sm border-white-100 border rounded-full px-3 py-1 ml-4 hover:opacity-100;
    
}
nav #nav-resume:hover,
.btn-special:hover {
    @apply bg-white-100 !text-black-300 transition ;
}

.btn {
    @apply !border-white-100 !rounded !px-7 !py-2 !border-2 !font-secondary !uppercase !text-white-100 min-w-[130px] text-center cursor-pointer select-none;
}

.btn:hover {
    @apply scale-105 transition;
}

.btn:active {
    @apply scale-95 transition;
}

#underline {
    position: relative;
    display: inline-block;
    z-index: 10;
}
#underline::after {
    height: 5px;
    content:" ";
    width: 100%;
    z-index: -1;
    background-color: #3E3E3E;
    left: 0px;
    bottom: 7px;
    transform: skewX(21);
    
    position: absolute;
}

.container-sm {
    @apply !w-[1200px] max-lg:!w-full
}

.swiper-wrapper {
  align-items: center; /* add this will all relevant prefixes */
}


#hero {
    background: url("/img/bg-dots.png");
    background-position: center left;
    background-size: 180px;
    background-repeat: no-repeat;
}

#contact {
    background-image: url("/img/bg-dots-right.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size:  100px;
}